*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--color-bg);
  color: var(--color-text);
}

main {
  padding: var(--space-md);
}

a {
  color: var(--color-accent);
}
